<div class="items-div">
    <div *ngFor="let item of items | async" class="item">
        <a [routerLink]="['/items', item.name]">
            <mat-card appearance="outlined">
                <mat-card-title>
                    {{item.name}}<br>
                </mat-card-title>
                <mat-card-title>
                    {{item.price | currency:'USD'}}
                    <span *ngIf="item.max_price"> - {{item.max_price | currency:'USD'}}</span>
                </mat-card-title>
                <img mat-card-img src="{{item.img_url}}">
            </mat-card>
        </a>
    </div>
</div>