.items-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.item {
    width: 30%;
}

.item mat-card {
    align-items: center;
    padding: 10px;
}

img {
    width: 30%;
}

a {
    text-decoration: none;
    color: black;
}