mat-dialog-content {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.item-select {
    width: 100%;
}

.inputs {
    display: flex;
    gap: 10px
}

.inputs mat-form-field {
    flex: 1;
    min-width: 0;
}

.inputs mat-button-toggle-group {
    margin-top: 8px;
    height: 39px;
    border-radius: 5px;
}

.inputs mat-button-toggle {
    align-content: center;
}