<mat-toolbar class="header">
    CS Investments Tracker
    <mat-form-field appearance="fill" subscriptSizing="dynamic" class="center">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput [(ngModel)]="searchTxt" (keydown.enter)="search()" />
    </mat-form-field>
    <nav class="right">
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/transactions">Transactions</button>
        <button *ngIf="!(user | async)" mat-button (click)="login()">Login</button>
        <button *ngIf="user | async as user" mat-icon-button [matMenuTriggerFor]="menu" class="avatar">
            <img src="{{user.avatar}}">
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item (click)="logout()" style="color: red">
                <mat-icon style="color: red">logout</mat-icon>
                Logout
            </button>
        </mat-menu>
    </nav>
</mat-toolbar>

<div class="content">
    <router-outlet />
</div>  