@use '@angular/material' as mat;

.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 20px;
}

.content {
    transform: translateY(64px);
    padding: 20px;
}

.center {
    width: 35vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include mat.form-field-density(-3);
}

.center mat-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right button:not(.avatar) {
    margin-left: 5px;
}

.avatar {
    height: 50px;
    width: 50px;
    margin-left: 19px;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid black;
}

.avatar img { 
    height: 100%;
    width: 100%;
}

.login {
    border-radius: 10px;
    border: 2px solid white;
}

.login svg {
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 5px;
}