.stats-card {
    width: 50%;
    margin: 50px auto;
}

.login-card {
    width: 30%;
    height: 70px;
    left: 50%;
    top: calc(50vh - 100px);
    transform: translate(-50%, -50%);
}

.login {
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.login svg {
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 5px;
}

.login span {
    vertical-align: middle;
    color: white;
    font-size: 25px;
}