mat-card {
    width: 50%;
    min-width: 600px;
    margin: 0 auto;
}

.item, .stats {
    align-items: center;
    text-align: center;
    padding: 20px;
}

.stats, .table, .tags {
    margin-top: 40px;
}

.table {
    overflow: hidden;
}

img {
    width: 40%;
    margin-top: 20px;
}

mat-tab-group {
    display: flex;
    flex-direction: column-reverse;
}