<div *ngIf="item | async as item">
        <mat-card appearance="outlined" class="item">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center" animationDuration="0ms" *ngIf="isGroup(item); else notGroup">
                <mat-tab label="Overview">
                    <mat-card-title>
                        {{item.name}}<br>
                        {{item.price | currency:'USD'}} - {{item.max_price | currency:'USD'}}
                    </mat-card-title>
                    <img mat-card-img src="{{item.img_url}}">
                </mat-tab>
                <mat-tab label="Sub-items">
                    <mat-card-subtitle *ngFor="let sub_item of item.sub_items">
                        {{sub_item.name}} - {{sub_item.price | currency:'USD'}}
                    </mat-card-subtitle>
                </mat-tab>
            </mat-tab-group>

            <ng-template #notGroup>
                <mat-card-title>
                    {{item.name}}<br>
                    {{item.price | currency:'USD'}}
                </mat-card-title>
                <img mat-card-img src="{{item.img_url}}">
            </ng-template>
        </mat-card>

        <div *ngIf="inventory | async as inventory">        
            <mat-card appearance="outlined" class="table">
                <app-transaction-table [transactions]="inventory.transactions" [items]="getItems(item)" />
            </mat-card>

            <mat-card appearance="outlined" class="stats">
                <mat-card-subtitle *ngFor="let stat of getStatEntries(inventory)">
                    {{stat[0]}}: {{stat[1]}}
                </mat-card-subtitle>
            </mat-card>
        </div>
</div>

<app-not-found-page *ngIf="itemIsNull" />
